# Example of Number operations

In [1]:
34 - 22

12

In [2]:
12 + 89

101

In [2]:
a = 1299 / 22
print(a)

59.04545454545455

In [3]:
b = a*9
print(b)

531.4090909090909

In [4]:
2 ** 10

1024

# Import Class

In [6]:
import math
math.pi

3.141592653589793

In [7]:
math.sqrt(66)

8.12403840463596

In [8]:
print(1+2)
print(a*4)
print(a/b)

3
236.1818181818182
0.11111111111111112

# Check object type

In [9]:
print(type(a))
print(type(b))

<class 'float'>
<class 'float'>

In [14]:
c = 123
print(type(c))

<class 'int'>

In [14]:
d = '123'
print(type(d))

<class 'str'>

In [12]:
c = 45.5
print(type(c))

<class 'float'>

In [15]:
d = 99
print(type(d))

<class 'int'>

# Example of String operations

In [21]:
name = "asif rahman"
print(name)

asif rahman

In [22]:
name = 'asif "rahman'
print(name)

asif "rahman

In [14]:
name = "asif 'rahman"
print(name)

asif 'rahman

In [25]:
'asif>' * 8

'asif>asif>asif>asif>asif>asif>asif>asif>'

In [26]:
name * 3

'asif "rahmanasif "rahmanasif "rahman'

In [27]:
'asif ' + 'rahman'

'asif rahman'

In [28]:
name + ' hasan'

'asif "rahman hasan'

In [33]:
name = 'Afsar Mahmud sayed'
sub = 'a'
name.count(sub)

3

In [14]:
name = 'Arafat Hossain'
 #0123456 -7 -6 -5 -4 -3 -2 -1
name[-1]
#name[111111]

'n'

In [16]:
#print a portion of a string
name[0:-1]

'Arafat Hossai'

In [44]:
name[-8:-2]

' Hossa'

In [18]:
dir(name)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [19]:
name.islower()

False

In [21]:
mystring = 'I am right He is fine This it okay'
mystring.splitlines()

['I am right He is fine This it okay']

In [57]:
mystring = 'I am right\nHe is fine\nThis it okay'
mystring.split(' ')

['I', 'am', 'right\nHe', 'is', 'fine\nThis', 'it', 'okay']

In [55]:
separator = '??'
mystrings = ['Himel', 'Liton', 'Hasan', 'Fahim']
separator.join(mystrings)

'Himel??Liton??Hasan??Fahim'

In [38]:
help(mystring.count)

Help on built-in function count:

count(...) method of builtins.str instance
    S.count(sub[, start[, end]]) -> int

    Return the number of non-overlapping occurrences of substring sub in
    string S[start:end].  Optional arguments start and end are
    interpreted as in slice notation.

In [58]:
len(name)

14

In [59]:
print 100+4

SyntaxError: Missing parentheses in call to 'print'. Did you mean print(100+4)? (<ipython-input-59-7a848cea81b3>, line 1)

# List

In [64]:
data = [21, 'Manager', ['Manager', 89000] ,4.50, 'Dhaka']

In [67]:
data[-1]

'Dhaka'

In [68]:
data[0:2]

[21, 'Manager']

In [37]:
data[1]

['Manager', 89000]

In [72]:
data[2][0]

'Manager'

In [47]:
len(data)

4

In [50]:
data[-1]

'Dhaka'

In [64]:
data

[21, ['rahman', 56000], 4.5, 'Dhaka']

In [82]:
data.append(100)
print(data)

[21, 'Manager', ['Manager', 89000], 'Dhaka', '100', '100', 100]

In [83]:
data.remove(100)
print(data)

[21, 'Manager', ['Manager', 89000], 'Dhaka', '100', '100']

In [84]:
data.pop(1)
print(data)

[21, ['Manager', 89000], 'Dhaka', '100', '100']

In [66]:
dir(data)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [42]:
help(data.insert)

Help on built-in function insert:

insert(index, object, /) method of builtins.list instance
    Insert object before index.

# Dictionary

In [86]:
person = {'Age':21,'Name':['niaz','rahman'], 'Salary':56000, 'Rating':4.50}

In [87]:
person['Rating']

4.5

In [25]:
len(person)

4

In [88]:
person.keys()

dict_keys(['Age', 'Name', 'Salary', 'Rating'])

In [90]:
#person.has_key('Name')
'Name' in person.keys()

False

In [91]:
'niaz' in person['Name']

True

In [80]:
dir(person)

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [93]:
name = 'aiub a'
name = '$' + name[3:]
name

'$b a'