# User Input

In [1]:
#checked
a = 21
print(a)

21

In [2]:
#checked
a = input('Enter a value: ') # always returns string
print(a)

Enter a value: tttttttttt
tttttttttt

In [ ]:
#checked 
a = int(input('Enter a number: ')) # returns string but converted to int
print(a + 23)

In [ ]:
name = input('Enter your name: ') # always returns string
print('Your name is ' + name)

# Loop

In [90]:
numbers = [1, 56, 78, 8]

for n in numbers:
    print(n+10)
    print('ok')
print('not')

11
ok
66
ok
88
ok
18
ok
not

In [87]:
print(numbers)

[1, 56, 78, 8]

In [30]:
for i in range(len(numbers)):
    print(numbers[i])

1
56
78
8

In [29]:
# for(i=0; i<10; i++){}
# range
for i in range(2,100,5):
    print(i, end = ' ')

2 7 12 17 22 27 32 37 42 47 52 57 62 67 72 77 82 87 92 97

Enter number: 89
89

In [96]:
# print even number
for i in range(10):    
    print(i)

0
1
2
3
4
5
6
7
8
9

In [40]:
# print even number
for i in range(10):  
    if i % 2 == 0:
        print(i)

0
2
4
6
8

In [41]:
# print even number
for i in range(10):  
    if i % 2 == 1:
        continue
    print(i)

0
2
4
6
8

In [43]:
# indent
i = 7
if i < 5: # () not required, {} not required
    print('okay')
    print('fine')
else:
    print('bad')
print('not okay') # will be executed in each run

bad
not okay

In [15]:
# loop
for i in range(10,100,10):
    print(i)
    print("ok")
print("done")

10
ok
20
ok
30
ok
40
ok
50
ok
60
ok
70
ok
80
ok
90
ok
done

In [100]:
myjob = "bangladesh"
for c in myjob: 
    print(c,end=' ')

b a n g l a d e s h

# IF, IF ELSE, ELSE IF

In [46]:
# if
a = 1
if a > 2:
    print ('greater')

In [47]:
# if-else
a = 1
if a > 2:
    print ('greater')
else:
    print( 'smaller')

smaller

In [101]:
a = 15
if a < 10:
    print('small')
elif a < 20:
    print('medium')
elif a < 50:
    print('larger')
else:
    print('out of range')

medium

# Method

In [53]:
# define method
def addnumbers(a, b): # add numbers and return result
    # logic
    c = a + b
    return c

In [54]:
addnumbers(8, 9) # use or call method

17

In [55]:
addnumbers(33, 66)

99

In [104]:
# add list values
def addValues(num):
    sum = 0
    for n in num:
        sum = sum + n
    return sum

In [105]:
v = [5, 4,12, 7]
addValues(v)

28

In [106]:
v = [5, 4,12, 7, 5, 4,12, 7, 5, 4,12, 7]
addValues(v)

84

In [63]:
# task: write a method which will add numbers of two different lists
# returns another list
# Example:
# [3,4,5,1]
# [6,7,2,8]
# output: [9,11,7,9]

In [64]:
# method/function
def multiTable(n, r=10):
    for i in range(1,r+1):
        print("{}X{}={}".format(n,i,n*i))

In [108]:
multiTable(8, 6)

8X1=8
8X2=16
8X3=24
8X4=32
8X5=40
8X6=48

In [109]:
multiTable(15)

15X1=15
15X2=30
15X3=45
15X4=60
15X5=75
15X6=90
15X7=105
15X8=120
15X9=135
15X10=150

In [ ]:
# task
# define a method to print first name and last name from full name

# ex: input: Arafat Rahman Sunny
# output: 
#first name: Arafat
#last name: Sunny

# getNames('Arafat Rahman')
 def getNames():
        #define logic

## Lesson 2 (String)

## Lesson 3 (List and Dictionaries)

# Lesson 4 (Tuples)